/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: September 21, 2022
   Description: CSS Stylesheet for calculator project.
******************************************************************************/

/******************************************************************************
Classes and element selectors as encountered in order throughout the page.
******************************************************************************/
body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}