/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: September 21, 2022
   Description: CSS Stylesheet for calculator project.
******************************************************************************/

